@media (prefers-color-scheme: dark) {
    .card, 
    .footer {
      border-color: #222;
      display: flex;
      justify-content: center;
      position: fixed;
    }
    .code {
      background: #111;
    }
    .logo img {
      filter: invert(1);
      margin-right: 10px;
    }

    .logo {
      justify-content: center;
      vertical-align: middle;
    }
  }
  
.footerDiv {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 3vw;
}

@media screen and (min-width: 800px) {
  .footerDiv {
    font-size: 2vw;
  }
}