@media (prefers-color-scheme: dark) {
    .card, 
    .footer {
      border-color: #222;
      display: flex;
      justify-content: center;
      position: fixed;
    }
    .code {
      background: #111;
    }
    .logo img {
      filter: invert(1);
      margin-right: 10px;
    }

    .logo {
      justify-content: center;
      vertical-align: middle;
    }
  }
  
.footerDiv {
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 15px;
}