html,
body {
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark;
}

body {
  color: white;
  margin-bottom: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: JetBrains Mono;
}